.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout_ad {
  width: 100%;
  margin-bottom: 10px;
}

.emptybasket_title {
  margin-left: 20px;
}

.checkout_title {
  margin: 10px;
  margin-left: 40px;
}
